GENERATE_SOURCEMAP=false
REACT_APP_MATHE_API=
REACT_APP_ALGORITHM_API=
REACT_APP_SITE_KEY=

# User typology ids
REACT_APP_ROLE_ADMIN=
REACT_APP_ROLE_LECTURE_REVIEWER=
REACT_APP_ROLE_LECTURE=
REACT_APP_ROLE_STUDENT=
REACT_APP_ROLE_LECTURER_NOT_VERIFIED=